<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>与主线程通讯</title>
	<link rel="stylesheet" href="../public/layui/css/layui.css" media="all">
	<style>
		body {
			margin: 10px;
		}
	</style>
</head>
<body>
	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
				<h1 style="color: #FF5722;">与主线程通讯</h1>

				<hr class="layui-bg-blue" />

				<div class="layui-btn-container">
					<button id="btn_conn_main" class="layui-btn layui-btn-normal layui-btn-lg" style="width: 200px; height: 100px;">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 32px; color: #d6ff1e;"></i><br />
						与主线程通讯
					</button>
					<button id="btn_global_share" class="layui-btn layui-btn-normal layui-btn-lg" style="width: 200px; height: 100px;">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 32px; color: #d6ff1e;"></i><br />
						全局共享变量
					</button>
				</div>

				<hr class="layui-bg-blue" />

				<p class="layui-word-aux">
					我是灰色文字
				</p>
			</div>
		</div>
	</div>



	<script src="../public/layui/layui.all.js"></script>
	<script src="../public/javascripts/render/conn_main.js"></script>
</body>
</html>