<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Electron示范</title>
	<link rel="stylesheet" href="../public/layui/css/layui.css" media="all">
	<style>
		body {
			margin: 10px;
		}
	</style>
</head>

<body>
	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
				<h1 style="color: #FF5722;">这里演示已学到的Electron功能。</h1>

				<hr class="layui-bg-blue" />

				<div class="layui-btn-container">
					<button name="filesys" ico="FileOperate.ico" class="layui-btn layui-btn-normal layui-btn-lg" style="width: 200px; height: 100px;">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 32px; color: #d6ff1e;"></i><br />
						文件系统
					</button>
					<button name="imenu" ico="menu.ico" class="layui-btn layui-btn-normal layui-btn-lg" style="width: 200px; height: 100px;">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 32px; color: #d6ff1e;"></i><br />
						菜单
					</button>
					<button name="iform" ico="ltablet1.ico" class="layui-btn layui-btn-normal layui-btn-lg" style="width: 200px; height: 100px;">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 32px; color: #d6ff1e;"></i><br />
						表单
					</button>
					<button name="subgroup.subgroup" ico="SubtitleSearch.ico" class="layui-btn layui-btn-normal layui-btn-lg" style="width: 200px; height: 100px;">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 32px; color: #d6ff1e;"></i><br />
						分组
					</button>
					<button name="conn_main" ico="network.ico" class="layui-btn layui-btn-normal layui-btn-lg" style="width: 200px; height: 100px;">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 32px; color: #d6ff1e;"></i><br />
						与主线程通讯
					</button>
					<button name="conn_python" ico="python.ico" class="layui-btn layui-btn-normal layui-btn-lg" style="width: 200px; height: 100px;">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 32px; color: #d6ff1e;"></i><br />
						与Python通讯
					</button>
					<button name="ilayui" ico="o7fly.layui.com.ico" class="layui-btn layui-btn-normal layui-btn-lg" style="width: 200px; height: 100px;">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 32px; color: #d6ff1e;"></i><br />
						用LayUI美化界面
					</button>
					<button name="webview" ico="html.ico" url="http://127.0.0.1:{port}/demo/" class="layui-btn layui-btn-normal layui-btn-lg" style="width: 200px; height: 100px;">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 32px; color: #d6ff1e;"></i><br />
						WebView
					</button>
					<button name="webview" ico="html.ico" url="http://127.0.0.1:{port}/admin/" class="layui-btn layui-btn-normal layui-btn-lg" style="width: 200px; height: 100px;">
						<i class="layui-icon layui-icon-face-smile" style="font-size: 32px; color: #d6ff1e;"></i><br />
						管理后台
					</button>
				</div>

				<hr class="layui-bg-blue" />

				<p class="layui-word-aux">
					我是灰色文字
				</p>
			</div>
		</div>
	</div>



	<script src="../public/layui/layui.all.js"></script>
	<script src="../public/javascripts/render/index.js"></script>
</body>

</html>
