<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>子级页面</title>
	<link rel="stylesheet" href="../../public/layui/css/layui.css" media="all">
	<style>
		body {
			margin: 10px;
		}
	</style>
</head>

<body>
	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
				<h1 style="color: #FF5722;">子级页面</h1>

				<hr class="layui-bg-blue" />

				<div class="layui-anim layui-anim-rotate layui-anim-loop" style="width: 300px; height: 300px; margin: auto; color: #FF5722; font-size: 32px;">360度旋转</div>

				<hr class="layui-bg-blue" />

				<p class="layui-word-aux">
					我是灰色文字
				</p>
			</div>
		</div>
	</div>



	<script src="../../public/layui/layui.all.js"></script>
	<script src="../../public/javascripts/render/subgroup/subgroup.js"></script>
</body>

</html>